.btn-info.btn-link {
    border-color: transparent !important;
    background-color: transparent !important;
    
}

.btn-warning.btn-link {
    border-color: transparent !important;
    background-color: transparent !important;
}
.btn-danger.btn-link {
    border-color: transparent !important;
    background-color: transparent !important;
}
.pagination {
    display: inline-block;
  }
  .pagination a {
    color: black;
    
    padding: 8px 16px; 
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #23CCEF;
    color: white;
    border-radius: 50%;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
  ::placeholder {
    color:black;
    opacity: 0.1; /* Firefox */
  }
  .rose{
      background-color: white !important;
      transition-duration: 0.4s;
  }
  .rose:hover{
      background-color: #888888 !important;
      color:white !important;
  }
  
  .in {
    opacity: 1;
  }

  .transition-example-modal {
    position: fixed;
    z-index: 1040;
    top: 0; bottom: 0; left: 0; right: 0;
  }

  .transition-example-backdrop {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: #000;
  }

  .transition-example-backdrop.fade.in {
    opacity: 0.5;
  }

  .transition-example-dialog {
    position: absolute;
    width: 400;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #e5e5e5;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    padding: 20px;
  }

  .left1{
    padding-left: 120px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
    width:150px !important;
  }
  .left2{
    padding-left: 120px !important;
    
  }