.sidebarMinimized {
   width: 76px !important;
   overflow: hidden !important;
   transition: 0.3s !important;
}
.caret {
   display: none !important;
}
.sidebarMinimized:hover {
   width:260px !important; 
}
.sidebar > .sidebar-wrapper{
   background-color: linear-gradient(to bottom, #6A1B9A 50%, rgba(148, 59, 234,0.7) 100%) !important;
   
}

.sidebar .nav li.active > a {
   background-color: transparent !important;
   color:white !important;
   }
.sidebar-wrapperMinimized {
   overflow: hidden !important;
}

.sidebarMinimized>.logo>.logo-normal {
  width: 260px !important;
}
.sidebarMic{
   font-size: 3.5em;
   margin-left: 40%;
   margin-top: 20%;
}
.sidebar-wrapper > .sidebarMic {
   margin-top: 20px !important;
}
.sidebar-wrapper > .phraseBox > textarea {
   width:260px !important;
}
.sidebar-wrapperMinimized > .phraseBox >textarea {
   transition: 0.5s !important;
   width:76px !important;
}
.sidebar-wrapperMinimized:hover > .phraseBox > textarea {
   width:260px !important;
   transition: 0.2s !important;
   margin-top: 0% !important;
}
.sidebar-wrapperMinimized:hover > .sidebarMic {
   font-size: 3.6em !important;
   margin-left: 40% !important;
  transition: 0.2s !important;
  margin-top: 20% !important;
   
}
.sidebarMiccollapsed{
   font-size: 3.0em;
   margin-left: 30%;
   margin-top: 77%;
}
.something{
   font-size: 1.2rem;
   padding: 0 !important;
   width:100% !important;

}
.tool-tip > center > i{
   padding:10px !important;
}
.sidebar-wrapperMinimized > .sidebarMic {
   margin-top:30px !important;
   font-size: 3.6em;
   margin-left: 10% !important;
   transition: 0.3s !important;
}
.__react_component_tooltip {
   padding: 10px !important;
   width: 180px !important;
   border-radius: 4% !important;
}
.sidebar-wrapperMinimized:hover > .tool-tip-icon {
   margin-left:120px !important;
   transition: 0.2s !important;
   font-size: 1.3em !important;
   margin-top: 5px !important;
   color: rgb(87, 182, 245) !important;
}

.sidebar-wrapper > .tool-tip-icon {
   margin-top: 5px !important;
   margin-left: 120px !important;
   font-size: 1.3em !important;
   color: rgb(87, 182, 245) !important;
}
.sidebar-wrapperMinimized >  .tool-tip-icon {
   margin-top: 5px !important;
   margin-left: 35px !important;
   font-size: 1.3em !important;
   transition: 0.3s !important;
   color: rgb(87, 182, 245) !important;
}
.sidebarMinimized:hover > .logo > .logo-normal {
   visibility: visible !important;
   text-transform: uppercase !important;
   padding: 5px 0px !important;
   display: block !important;
   font-size: 18px !important;
   color: #FFFFFF !important;
   font-weight: 400 !important;
   line-height: 30px !important;
}
.sidebar .logo a.logo-mini {
float: left !important;
text-align: center !important;
width: 30px !important;
margin-right: 15px !important;
}
.sidebar .logo a.logo-mini img {
   vertical-align: middle !important;
   border-style: none !important;
   width: 25px !important;
   height: 25px !important;
}
.sidebar-wrapperMinimized>.nav>li>.nav-link>i {
   font-size: 15px !important;
}

.sidebar-wrapper>.nav>li>.nav-link>i {
   font-size: 15px !important;
}
span{
   padding-left:10px !important; 
}

b{
   margin-left:10px !important;
}


.siddebar{
   transition: 0.5s !important;
}
.sidebarMinimized > span {
   display:none !important;
}

.sidebar .user {
   position: relative;
   z-index: 4;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
   padding-bottom: 20px !important;
   margin-top: 20px !important;
}

.sidebar .user .photo img{
   width:100% !important;
}

.sidebar .user .photo {
   width: 34px !important;
   height: 34px !important;
   overflow: hidden !important;
   border-radius: 50% !important;
   float: left !important;
   margin-right: 11px !important;
   margin-left: 23px !important;
   z-index: 5 !important;
   border: 2px solid rgba(255, 255, 255, 0.3) !important;
}

.sidebar .user .info a {
   color: #FFFFFF !important;
   padding: 8px 14px !important;
   display: block !important;
   white-space: nowrap !important;
   line-height: 18px !important;
}

.sidebar .user .info a>span {
   transition: all 150ms linear !important;
}

a {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   text-decoration: none;
   background-color: transparent;
}

.sidebar .caret {
   display: inline-block;
   width: 0;
   height: 0;
   vertical-align: middle;
   border-top: 4px dashed;
   border-top: 4px solid\9;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   margin-top: 13px;
   position: absolute;
   right: 0;
   -webkit-transition: all 150ms ease-in;
   -moz-transition: all 150ms ease-in;
   -o-transition: all 150ms ease-in;
   -ms-transition: all 150ms ease-in;
   transition: all 150ms ease-in;
}