.sidebarMinimized{
    align-content: center;
     transition: 0.5s !important; 
    align-content: center;
    width: 76px !important;
}
.sidebar .nav {
    margin-top: 0px !important;
}
.noFont{
    width: 0px;
    display: none;
}
.HAdminLineCollapsed{
    border-top-color: rgba(255, 255, 255, 0.3) !important;
    margin-top: 50px !important;
    margin-left:10px !important;
    margin-right:10px !important;
    margin-bottom: 0px !important;
    height:0px !important;
}
.logged-user{
    padding-left: 50px;
    opacity: 0.5;
}

.phraseBox{
    width: 100%;
    height: 10%;
}

.sidebar{
    /* transition-delay: 0.0ms !important; */
    height: 100% !important;
    overflow-y: hidden !important;
    transition: 0.4s !important;
}

.sidebar .sidebar-wrapper{
  
    /* transition: 0.5s !important; */
    height: 100% !important;

    background: linear-gradient(to bottom, #6A1B9A 0%, rgba(148, 59, 234,0.7) 100%);
}

.sidebarMic{
    font-size: 3.0em;
    margin-left: 40%;
    margin-top: 20%;
}
.sidebar-wrapper::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.logo{
  
 border: none !important;   
margin: 0px !important;
width:100% !important;
height:80px !important;
padding: 6% !important;
}
.sidebarMinimized>.logo>.HIconLine{
    margin-top: 50px !important;
   margin-left:6px !important;
   margin-right:6px !important;
}
/* .sidebarMinimized .logo a.logo-mini img */
.ps-logo{
    width:23px !important;
    margin-left:40% !important;
}
/* .sidebarMinimized>.logo>.logo-mini>img{ */
    .sidebar .logo a.logo-mini img {
        padding:3px;
        padding-left:3px;
    width:30px !important;

}
/* .logo-img{
    padding: 1000px;
    width: 25px !important;
    height: 25px !important;
} */
.something{
    font-size: 1.2rem;
    padding: 0 !important;
    width:100% !important;
}

.tool-tip{
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.tool-tip-icon-minimized{
    margin-left: 30px;
    color: aqua;
}

.tool-tip-icon{
    text-align:center;
    color: aqua;
}
.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}
.sidebarAdminImg{
    margin-top:0px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-right: 11px;
    margin-left: 23px;
    z-index: 5;
    border: 2px solid rgba(255, 255, 255, 0.3);  
   
}
.user{
   
    padding-bottom: 0px;
    margin-top: 0px;
}
.HIconLine{

 border-top-color: rgba(255, 255, 255, 0.3) !important;
    margin-left: 0.1px !important;
    margin-right: 0.1px !important;
    margin-top:5px !important;
}
.HAdminLine{
     border-top-color: rgba(255, 255, 255, 0.3) !important;
    margin-left: 0.1px !important;
    margin-right: 0.1px !important;
    margin-bottom: 0px !important;
}
.iconCollapsed{
    padding-top:10px !important;
    /* align-items:center;  */
    margin-left: 0px;
    height:22px !important;
    padding-bottom:20px !important;
    margin-bottom:20% !important;
}
.sidebar .nav li.active > a {
    color: #FFFFFF;
    opacity: 0.5;
    /* background: rgba(255, 255, 255, 0.23); */
}
.sidebarMiccollapsed{
    font-size: 3.0em;
    margin-left: 30%;
    margin-top: 77%;
}
.simple-text{
    font-size:20px !important ;
}
.simple-texts{
    padding-top:6px !important;
    color:white !important;
    font-size:16px !important;
}
.nav-link-collapsed{
    margin-top: 0px !important;
    padding:4px !important;
}
.sidebarMinimized>.nav{
    margin-top:0px !important;
}
.userDropdown{
    color: white;
}
.userDropdownContainer{
    font-weight: 200;
    display: inline-flex;
    padding-top: 10px;
    padding-left: 30px;
}
.carets{
 margin-top: 10px;
 float: right;   
 margin-right: 20px;
}
.extraSpaces{
    padding-left: 20px;
}

.tool-tip-icon-collapsed{
    width: 68px !important;
}